<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    padding: 20px;
    color: aqua;
}

a:hover{
    text-decoration: none;
    color: red;
}
    </style>
</head>
<body>
    <footer>
        <h6>©️FitFocus 2024</h6>
        <h5>Admin: Chethan</h5>
        <a href="mailto:chethanrocking2004@gmail.com">Contact me </a>
    </footer>
</body>
</html>